@font-face {
    font-family: roboto;
    src: url('../fonts/roboto-regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: raleway;
    src: url('../fonts/raleway-regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: raleway-medium;
    src: url('../fonts/raleway-medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: raleway-semibold;
    src: url('../fonts/raleway-semibold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: raleway-bold;
    src: url('../fonts/raleway-bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: raleway-extrabold;
    src: url('../fonts/raleway-extrabold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: montserrat-extralight;
    src: url('../fonts/montserrat-extralight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: montserrat-light;
    src: url('../fonts/montserrat-light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat-regular.ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0 auto;
    width: 1920px;
}

.main-header {
    width: 100%;
    padding: 40px 0 0 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('../img/bg_photo.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.main-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 183px;
    margin: 0 215px 0 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
}

.main-logo-icon {
    fill: currentColor;
}

.main-title {
    font-family: raleway;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
}

.main-logo:hover {
    color: #c7b299;
}

.main-logo:active {
    color: #998675;
}

.main-header-top {
    display: flex;
    flex-wrap: wrap;
}

.main-header-menu-wrp {
    width: 100%;
    display: flex;
}

label,
#mobile-menu {
  display: none;
}

input[type="checkbox"]:checked ~ .main-header-menu {
  visibility: visible;
}

.main-header-menu {
    display: flex;
    flex-wrap: wrap;
}

.main-header-menu-item {
    padding: 22px 25px 0 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: montserrat-light;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
}

.main-header-menu-item:hover {
    color: #c7b299;
}

.main-header-menu-item:active {
    color: #998675;
}

.button-cart {
    width: 18px;
    height: 24px;
    margin: 16px 25px 0 0;
    border: none;
    outline: none;
    background-color: transparent;
}

.button-cart-icon {
    fill: #ffffff;
}

.button-cart:hover .button-cart-icon {
    fill: #c7b299;
}

.button-cart:active .button-cart-icon {
   fill: #998675;
}

.search-form {
    padding: 18px 0 0 0;
    box-sizing: border-box;
    position: relative;
}

.search-form-label {
    display: block;
}

.search-form-input {
    width: 0;
    min-height: 0;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 70px;
    left: -119px;
    color: #fff;
    font-size: 16px;
    font-family: montserrat-light;
}

.search-form-icon {
    fill: #ffffff;
}

.search-form-label:hover .search-form-icon {
    fill: #c7b299;
}

.search-form-label:active .search-form-icon {
    fill: #998675;
}

.search-form-input:focus {
    width: 150px;
    min-height: 20px;
    transition: width 1s ease;
    border: 2px solid #fff;
}
  
.main-header-carusel {
    width: 1610px;
    margin: 275px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.carusel-arrow {
    display: block;
    width: 60px;
    height: 60px;
    margin: 30px;
    border: none;
    transform: rotate(45deg);
}

.carusel-arrow:nth-of-type(1) {
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}

.carusel-arrow:nth-of-type(2) {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.carusel-arrow:nth-of-type(1):hover {
    border-bottom: 2px solid #c7b299;
    border-left: 2px solid #c7b299;
}

.carusel-arrow:nth-of-type(2):hover {
    border-top: 2px solid #c7b299;
    border-right: 2px solid #c7b299;
}

.carusel-arrow:nth-of-type(1):active {
    border-bottom: 2px solid #998675;
    border-left: 2px solid #998675;
}

.carusel-arrow:nth-of-type(2):active {
    border-top: 2px solid #998675;
    border-right: 2px solid #998675;
}

.carusel-txt {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.carusel-title {
    margin: 0 0 10px 0;
    font-family: raleway-medium;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
}

.carusel-main-title {
    font-family: raleway-extrabold;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    color: #ffffff;
}

.carusel-main-txt {
    width: 570px;
    text-align: center;
    font-family: montserrat-light;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
}

.carusel-button {
    width: 170px;
    height: 53px;
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #998675;
    border-radius: 3.0px;
    text-decoration: none;
}

.carusel-button:hover {
    background-color: #c7b299;
}

.carusel-button:active {
    background-color: #a48d72;
}

.carusel-button-txt {
    font-family: raleway-extrabold;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}

.carusel-pagination {
    width: 100%;
    margin: 302px 0 40px 0;
    display: flex;
    justify-content: center;
}
  
.carusel-pagination-item {
    display: block;
    margin: 0 5px 0 5px;
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid transparent;
}
  
.carusel-pagination-item:hover {
    background-color: transparent;
    border: 2px solid #d3c1ad;
    transform: scale(1.2);
}

.carusel-pagination-item:active {
    background-color: #d1d1d1;
    border: 2px solid #d3c1ad;
    transform: scale(1.2);
}

.section-features {
    width: 100%;
    padding: 78px 0 78px 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features-item {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features-item:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}

.features-icon {
    display: block;
    margin: 0 0 20px 0;
}

.features-title {
    width: 100%;
    font-family: raleway-semibold;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    text-align: center;
}

.features-item:hover .features-icon {
    fill: #c7b299;
}
  
.features-item:hover .features-title {
    color: #c7b299;
}
  
.features-item:hover:after {
    background-color: #c7b299;
}

.features-txt {
    width: 100%;
    font-family: montserrat-light;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
}

.section-portfolio {
    width: 100%;
    padding: 80px 0 0 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fbfaf8;
}

.portfolio-title {
    width: 100%;
    font-family: raleway-semibold;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    text-align: center;
}

.portfolio-txt {
    width: 770px;
    font-family: montserrat-light;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
}

.portfolio-img {
    width: 1230px;
    min-height: 500px;
    background-image: url('../img/portfolio_center.jpg'),
                    url('../img/portfolio_left.jpg'),
                    url('../img/portfolio_right.jpg');
    background-repeat: no-repeat;
    background-position: center bottom, left bottom, right bottom;
}

.purchase {
    width: 100%;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    background-repeat: no-repeat;
    padding: 50px 374px 50px 374px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.purchase-wrp {
    width: 900px;
}

.purchase-title {
    width: 100%;
    margin: 0;
    font-family: raleway;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.purchase-title-waxom {
    font-family: raleway;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #c7b299;
}

.purchase-txt {
    width: 100%;
    margin: 8px 0 0 0;
    font-family: montserrat-light;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
}

.purchase-button {
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #998675;
    border-radius: 3.0px;
    text-decoration: none;
}

.purchase-button:hover {
    background-color: #c7b299;
}

.purchase-button:active {
    background-color: #a48d72;
}

.purchase-button-txt {
    font-family: raleway-extrabold;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}

.section-projects {
    width: 100%;
    padding: 81px 360px 0 360px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-title {
    width: 100%;
    text-align: center;
    font-family: raleway-semibold;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.projects-txt {
    width: 760px;
    margin: 27px 0 0 0;
    font-family: montserrat-light;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
    position: relative;
}

.projects-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
}

.projects-menu-item {
    width: 120px;
    height: 32px;
    margin: 0 5px 0 5px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #fff;
    outline: none;
    font-family: montserrat-light;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
}

.projects-menu-item:hover {
    color: #ffffff;
    background-color: #998675;
}

.projects-menu-item:active {
    border: 1px solid #998675;
}

.projects-item {
    margin: 0 15px 30px 15px;
    text-decoration: none;
    background-color: #fbfaf8;
    position: relative;
}

.projects-item-img {
    display: block;
}

.projects-item-main-title {
    width: 100%;
    display: block;
    padding: 20px 0 0 27px;
    box-sizing: border-box;
    font-family: raleway-medium;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;
}

.projects-item-title {
    width: 100%;
    display: block;
    padding: 10px 0 27px 27px;
    box-sizing: border-box;
    font-family: montserrat-light;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1;
}

.projects-item-txt {
    display: block;
    position: relative;
}

.projects-item-txt:before {
    content: "";
    border: 20px solid transparent; 
    border-bottom: 15px solid #fbfaf8;
    position: absolute;
    top: -35px;
    left: 20px;
}

.projects-item:hover .projects-item-btn-link {
    display: block;
}

.projects-item:hover .projects-item-btn-search {
    display: block;
}

.projects-item:hover .projects-item-img {
    filter: brightness(20%);
}

.projects-item:hover .projects-item-txt {
    background-color: #362f2d;
}

.projects-item:hover .projects-item-main-title {
    color: #ffffff;
}

.projects-item:hover .projects-item-title {
    color: #c7b299;
}

.projects-item:hover .projects-item-txt:before{
    border-bottom: 15px solid #362f2d;
}

.projects-item-btn-link,
.projects-item-btn-search {
  display: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 40%
}

.projects-item-btn-link {
    width: 26px;
    height: 26px;
    background-image: url('../img/projects_link.png');
    left: 40%;
}

.projects-item-btn-search {
    width: 26px;
    height: 26px;
    background-image: url('../img/projects_lupa.png');
    right: 40%;
}

.projects-button {
    width: 170px;
    height: 50px;
    margin: 10px 0 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #998675;
    border-radius: 3.0px;
    text-decoration: none;
}

.projects-button:hover {
    background-color: #c7b299;
}

.projects-button:active {
    background-color: #a48d72;
}

.projects-button-txt {
    font-family: raleway-extrabold;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}

.section-video {
    width: 100%;
    min-height: 300px;
    position: relative;
}

.video-block {
    width: 570px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 32%;
    left: 36%;
}

.video-play-btn {
    display: flex;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.video-play-btn-icon {
    margin: auto;
    fill: #ffffff;
}

.video-play-btn:hover .video-play-btn-icon {
    fill: #c7b299;
}
  
.video-play-btn:active .video-play-btn-icon {
    fill: #998675;
}

.video-title {
    width: 100%;
    margin: 44px 0 0 0;
    font-family: raleway-medium;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}

.video-txt {
    width: 100%;
    font-family: montserrat-light;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

.video-txt-time {
    width: 100%;
    font-family: montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #c7b299;
    text-align: center;
}

.section-mobile {
    width: 100%;
    padding: 191px 0 182px 872px;
    box-sizing: border-box;
    background-image: url('../img/iphone_in_hand.jpg');
    background-position: 404px bottom;
    background-repeat: no-repeat;
}

.mobile-wrp {
    width: 659px;
}

.mobile-title {
    width: 100%;
    display: block;
    padding: 0 0 0 5px;
    box-sizing: border-box;
    font-family: raleway-semibold;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.mobile-txt {
    width: 100%;
    margin: 38px 0 38px 0;
    padding: 0 0 0 5px;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}

.mobile-list {
    margin: 0 0 0 50px;
    list-style-type: none;
}

.mobile-list-item {
    font-family: montserrat-light;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    color: #8c8c8c;
    position: relative;
}

.mobile-list-item:before {
    content: ">";
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #c7b299;
    text-align: center;
    line-height: 21px;
    color: #fff;
    position: absolute;
    top: 5px;
    left: -38px;
}

.section-stat {
    width: 100%;
    padding: 67px 0 60px 0;
    box-sizing: border-box;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stat-item {
    width: 140px;
    margin: 0 36px 0 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stat-item:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
}

.stat-item-icon {
    width: 44px;
    height: 44px;
    fill: #c7b299;
}

.stat-item-quantity {
    width: 100%;
    margin: 27px 0 19px 0;
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    line-height: 36px;
    font-weight: 200;
    color: #ffffff;
}

.stat-item-txt {
    width: 100%;
    margin: 0 0 28px 0;
    text-align: center;
    font-family: montserrat-light;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #c7b299;
}

.recent-posts {
    width: 100%;
    padding: 81px 360px 81px 360px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recent-posts-title {
    width: 100%;
    display: block;
    text-align: center;
    font-family: raleway-semibold;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.recent-posts-txt {
    width: 780px;
    margin: 27px 20px 38px 20px;
    display: block;
    text-align: center;
    font-family: montserrat-light;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}

.recent-posts-item {
    width: 370px;
    margin: 0 15px 0 15px;
    display: flex;
    flex-wrap: wrap;
    border: 1.0px solid #f8f8f8;
    box-sizing: border-box;
    position: relative;
}

.recent-posts-img {
    width: 100%;
}

.recent-posts-item-title {
    width: 100%;
    display: block;
    padding: 28px 0 0 25px;
    box-sizing: border-box;
    font-family: raleway-medium;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
}

.recent-posts-item-txt {
    margin: 17px 0 27px 0;
    padding: 0 25px 0 25px;
    box-sizing: border-box;
    font-family: montserrat-light;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #8c8c8c;
}

.recent-posts-item-link {
    display: block;
    padding: 0 0 27px 25px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: montserrat-light;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #c7b299;
    position: relative;
}

.recent-posts-item-link::after {
    content: '';
    border: 5px solid transparent; 
    border-left: 5px solid #c7b299;
    position: absolute;
    top: 6px;
    left: 110px;
}

.recent-posts-item-link:hover {
    color: #fff;
}

.recent-posts-item-link:active {
    color: #998675;
}

.recents-posts-item-calendar {
    display: block;
    width: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.calendar-number {
    width: 100%;
    display: block;
    padding: 7px 0 7px 0;
    box-sizing: border-box;
    border-radius: 3px 3px 0 0;
    text-align: center;
    font-family: montserrat-light;
    font-size: 24px;
    line-height: 20px;
    font-weight: 300;
    color: #ffffff;
    background-color: #363636;
}

.calendar-month {
    width: 100%;
    display: block;
    padding: 3px 0 3px 0;
    box-sizing: border-box;
    border-radius: 0 0 3px 3px;
    text-align: center;
    font-family: roboto;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    background-color: #252525;
}

.recent-posts-item:hover {
    background-color: #362f2d;
}

.recent-posts-item:hover .recent-posts-img {
    filter: brightness(50%);
}

.recent-posts-item:hover .recent-posts-item-title {
    color: #c7b299;
}

.recent-posts-item:hover .recent-posts-item-txt {
    color: #ffffff;
}

.recent-posts-item:hover .calendar-number {
    background-color: #c7b299;
}

.recent-posts-item:hover .calendar-month {
    background-color: #a48d72;
}

.recent-posts-wrp {
    width: 100%;
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
}

.recent-posts-arrow {
    display: block;
    border: none;
    outline: none;
    background-color: transparent;  
}

.recent-posts-arrow-icon {
    fill: #d1d1d1;
}

.recent-posts-arrow:hover .recent-posts-arrow-icon {
    fill: #c7b299;
}

.recent-posts-arrow:active .recent-posts-arrow-icon {
    fill: #998675;
}

.partners {
    width: 100%;
    padding: 140px 0 140px 0;
    box-sizing: border-box;
    background-image: url('..//img/partners_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.partners::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
}

.partners-item {
    margin: 0 45px 0 45px;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.partners-item:hover .partners--item-icon{
    filter: brightness(70%);
}

.partners-item:active .partners--item-icon{
    filter: brightness(30%);
}

.main-footer {
    width: 100%;
    padding: 80px 0 81px 376px;
    box-sizing: border-box;
    background-color: #191919;
    display: flex;
    flex-wrap: wrap;
}

.company-about {
    width: 260px;
}

.company-about-txt {
    margin: 28px 0 28px 0;
    font-family: montserrat-light;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555555;
}

.company-about-link {
    text-decoration: none;
    font-family: montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #d1d1d1;
    position: relative;
}

.company-about-link::after {
    content: '';
    border: 5px solid transparent;
    border-left: 5px solid #d1d1d1;
    position: absolute;
    top: 5px;
    left: 87px;
}

.company-about-link:hover {
    color: #c7b299;
}

.company-about-link:active {
    color: #a48d72;
}

/* .company-about-link:hover.company-about-link::after{
    border-left: 5px solid #c7b299;
}

.company-about-link:hover.company-about-link::after{
    border-left: 5px solid #a48d72;
} */

.main-footer-wrp {
    width: 270px;
    margin: 0 14px 0 14px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.main-footer-wrp-title {
    width: 100%;
    display: block;
    padding: 27px 0 0 0;
    box-sizing: border-box;
    font-family: raleway-bold;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
}

.main-footer-wrp-link {
    width: 100%;
    display: block;
    padding: 18px 0 18px 0;
    text-decoration: none;
    font-family: montserrat-light;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    border-bottom: 1px solid #252525;
}

.main-footer-wrp-link:nth-child(4) {
    border-bottom: none;
}

.main-footer-wrp-date {
    width: 100%;
    display: block;
    font-family: montserrat-light;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
}

.main-footer-wrp-link:hover {
    color: #c7b299;
}

.main-footer-wrp-link:hover .main-footer-wrp-date{
    color: #fff;
}

.main-footer-wrp-link:active {
    color: #998675;
}

.main-footer-wrp-link:active .main-footer-wrp-date{
    color: #fbfaf8;
}

.main-footer-twit {
    font-family: montserrat-light;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #00bff3;
}

.widjet-wrp {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 26px 0 0 0;
}

.widjet-img:nth-child(1) {
    margin: 0 10px 10px 0;
}

.widjet-img:nth-child(2) {
    margin: 0 0 10px 0;
}

.widjet-img:nth-child(3) {
    margin: 0 10px 0 0;
}

.widjet-img:nth-child(4) {
    margin: 0;
}

.widjet-img:hover {
    filter: brightness(70%);
}

.footer-info {
    width: 100%;
    padding: 45px 376px 52px 374px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #111111;
}

.footer-info-txt {
    margin: 0 11px 0 11px;
    font-family: montserrat-light;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    position: relative;
}

.footer-info-link-waxom {
    text-decoration: none;
    font-family: montserrat-light;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #959595;
}

.footer-info-link-waxom:hover {
    color: #c7b299;
}

.footer-info-link-waxom:active {
    color: #998675;
}

.footer-info-link {
    margin: 0 11px 0 11px;
    text-decoration: none;
    font-family: montserrat-light;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #959595;
    position: relative;
}

.footer-info-link::before {
    content: '|';
    font-family: montserrat-light;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    position: absolute;
    top: -3px;
    left: -13px;
}

.footer-info-link:hover {
    color: #c7b299;
}

.footer-info-link:active {
    color: #998675;
}

.footer-info-txt:nth-child(2)::before {
    content: '|';
    font-family: montserrat-light;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    position: absolute;
    top: -3px;
    left: -13px;
}

@media (max-width: 576px) {
    body {
        width: 100%;
    }
    .main-header {
        padding: 10px;
        background-size: 100%;
    }
    .main-header-top {
        width: 100%;
    }
    .mobile-menu-button {
        display: flex;
        align-items: center;
        position: fixed;
        top: 86px;
        left: 11px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .mobile-menu-line,
    .mobile-menu-line::before,
    .mobile-menu-line::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition-duration: .25s;
    }
    .mobile-menu-line::before {
        content: '';
        top: -8px;
    }
    .mobile-menu-line::after {
        content: '';
        top: 8px;
    }
    .main-header-menu {
        visibility: hidden;
        margin: 0 auto;
        width: 100%;
        flex-direction: column;
    }
    .main-header-carusel {
        display: none;
    }
    .section-features {
        padding: 10px;
    }
    .features-item {
        width: 230px;
        margin: 10px 10px 10px 10px;
    }
    .section-portfolio {
        padding: 20px 0 0 0;
    }
    .portfolio-img {
        width: 100%;
        min-height: 200px;
        background-size: 50%;
    }
    .purchase {
        padding: 20px 10px 20px 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .purchase-button {
        margin: 10px 0 0 0;
    }
    .section-projects {
        padding: 20px 10px 20px 10px;
    }
    .projects-menu {
        margin: 20px 0 20px 0;
    }
    .projects-button {
        margin: 0 0 30px 0;
    }
    .section-video {
        min-height: auto;
    }
    .video-bg {
        width: 100%;
    }
    .video-block {
        width: 50%;
        top: 13%;
        left: 26%;
    }
    .video-title {
        width: 100%;
        margin: 10px 0 0 0;
        font-size: 20px;
    }
    .video-txt {
        display: none;
    }
    .video-txt-time {
        display: none;
    }
    .section-mobile {
        padding: 10px;
        min-height: 600px;
        background-position: 13px bottom;
        background-size: 40%;
    }
    .mobile-wrp {
        width: 100%;
    }
    .mobile-title {
        padding: 0;
        text-align: center;
    }
    .mobile-txt {
        padding: 0;
        margin: 20px 0 15px 0;
    }
    .mobile-list {
        margin: 0 0 0 180px;
    }
    .mobile-list-item {
        font-size: 12px;
        line-height: 26px;
    }
    .section-stat {
        padding: 20px 10px 20px 10px;
    }
    .stat-item {
        margin: 10px 36px 10px 36px;
    }
    .recent-posts {
        padding: 20px 10px 20px 10px;
    }
    .recent-posts-txt {
        margin: 10px 20px 10px 20px;
    }
    .recent-posts-item {
        margin: 10px 20px 10px 20px;
    }
    .recent-posts-wrp {
        margin: 20px 0 0 0;
    }
    .partners-item {
        margin: 15px 10px 15px 10px;
    }
    .main-footer {
        padding: 10px;
        justify-content: center;
    }
    .company-about {
        width: 400px;
    }
    .company-about-txt {
        margin: 28px 0 18px 0;
    }
    .main-footer-wrp {
        display: none;
    }
    .footer-info {
        padding: 10px;
        justify-content: center;
    }
    .footer-info-wrp {
        margin: 10px 0 10px 0;
    }
}