body {
    margin: 0 auto;
    width: 1920px;
}

.main-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('../img/bg_photo.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.main-header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 183px;
    margin: 0 215px 0 0;
    padding: 37px 0 0 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
}

.main-header-logo-icon {
    fill: currentColor;
}

.main-header-title {
    font-family: Raleway;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
}

.main-header-logo:hover {
    color: #c7b299;
}

.main-header-logo:active {
    color: #998675;
}

.main-header-top {
    display: flex;
}

.main-header-menu {
    display: flex;
}

.main-header-menu-item {
    padding: 60px 25px 0 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
}

.main-header-menu-item:hover {
    color: #c7b299;
}

.main-header-menu-item:active {
    color: #998675;
}

.button-cart {
    width: 18px;
    height: 24px;
    margin: 56px 25px 0 0;
    border: none;
    background-image: url('../img/icon_cart.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-color: transparent;
}

.search-form {
    padding: 56px 0 0 0;
    box-sizing: border-box;
}

input[type="search"] {
    width: 24px;
    height: 24px;
    outline: none;
    border: none;
    background-image: url('../img/icon_search.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-color: transparent;
}
  
.main-header-carusel {
    width: 1610px;
    margin: 275px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.carusel-arrow {
    display: block;
    width: 60px;
    height: 60px;
    margin: 30px;
    border: none;
    transform: rotate(45deg);
}

.carusel-arrow:nth-of-type(1) {
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}

.carusel-arrow:nth-of-type(2) {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.carusel-arrow:nth-of-type(1):hover {
    border-bottom: 2px solid #c7b299;
    border-left: 2px solid #c7b299;
}

.carusel-arrow:nth-of-type(2):hover {
    border-top: 2px solid #c7b299;
    border-right: 2px solid #c7b299;
}

.carusel-arrow:nth-of-type(1):active {
    border-bottom: 2px solid #998675;
    border-left: 2px solid #998675;
}

.carusel-arrow:nth-of-type(2):active {
    border-top: 2px solid #998675;
    border-right: 2px solid #998675;
}

.carusel-txt {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.carusel-title {
    margin: 0 0 10px 0;
    font-family: Raleway;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
}

.carusel-main-title {
    font-family: Raleway;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    color: #ffffff;
}

.carusel-main-txt {
    width: 570px;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
}

.carusel-button {
    width: 170px;
    height: 53px;
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #998675;
    border-radius: 3.0px;
    text-decoration: none;
}

.carusel-button:hover {
    background-color: #c7b299;
}

.carusel-button:active {
    background-color: #a48d72;
}

.carusel-button-txt {
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}

.carusel-pagination {
    width: 100%;
    margin: 302px 0 40px 0;
    display: flex;
    justify-content: center;
}
  
.carusel-pagination-item {
    display: block;
    margin: 0 5px 0 5px;
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid transparent;
}
  
.carusel-pagination-item:hover {
    background-color: transparent;
    border: 2px solid #d3c1ad;
    transform: scale(1.2);
}

.carusel-pagination-item:active {
    background-color: #d1d1d1;
    border: 2px solid #d3c1ad;
    transform: scale(1.2);
}